{% extends "layout.html" %} {% block title %} New Companies {% endblock %} {%
block main %}

<div id="company-new">
  <div class="bc-area">
    <h3>New Company</h3>
    <button class="btn btn-warning" onclick="goBack()">
      <i class="bi bi-arrow-return-left pe-1"></i>
      Go Back
    </button>
  </div>

  <div class="new-company">
    <form
      id="new-form"
      class="row g-3 needs-validation"
      action="/settings/company/new"
      method="post"
      novalidate
    >
      <div class="col-md-6">
        <label for="inputCompanyNameNew" class="form-label">Company Name</label>
        <input
          type="text"
          class="form-control"
          id="inputCompanyNameNew"
          name="company_name"
          required
        />
      </div>
      <div class="col-md-6">
        <label for="inputErpCodeNew" class="form-label">ERP Code</label>
        <input
          type="text"
          class="form-control"
          id="inputErpCodeNew"
          name="erp_code"
          required
        />
      </div>
      <div class="col-md-6">
        <label for="inputAddressNew" class="form-label">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddressNew"
          name="address"
          required
        />
      </div>
      <div class="col-md-6">
        <label for="inputWebAddressNew" class="form-label">Web URL</label>
        <div class="input-group">
          <span class="input-group-text" id="basic-addon3">https://</span>
          <input
            type="text"
            class="form-control"
            id="inputWebAddressNew"
            placeholder="www.companybrand.com"
            name="web_address"
            required
          />
        </div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">
          <i class="bi bi-floppy-fill pe-1"></i>
          Save
        </button>
      </div>
    </form>
  </div>
</div>

<script>
  function goBack() {
    location.href = "/settings/company/list";
  }
  function showSpinner() {
    var spinner = document.getElementById("loading");
    spinner.removeAttribute("hidden");
  }
  function hideSpinner() {
    var spinner = document.getElementById("loading");
    spinner.setAttribute("hidden", true);
  }
</script>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    "use strict";

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll(".needs-validation");

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms).forEach(function (form) {
      form.addEventListener(
        "submit",
        function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add("was-validated");
          if (form.checkValidity() === true) {
            event.preventDefault();
            event.stopPropagation();
            //submit code here
            showSpinner();
            form.submit();
          }
        },
        false
      );
    });
  })();
</script>
<!-- <script>
      document.getElementById("new-form").onsubmit = function () {
        showSpinner();
      };
    </script> -->
{% endblock %}
